html,
body{
    margin: 0;
    font-family: 'poppins', sans-serif;
    background-color: #f5e8ba;
}

#wrapper h2{
    display: flex;
    justify-content: center;
}


h2{
    color: #fde79e;
    letter-spacing: 1px;
    padding-top: 50px;
}
input{
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 30px;
    height: 2.5em;
    width: 250px;
    padding-left: 10px;
}

input:active{
    border: none;
}

#wrapper{
    height: 450px;
    width: 400px;
    background-color: pink;
    border-radius: 20px;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    padding: 30px;
    
}

button{
    padding:0 20px;
    height: 3em;
    background: #ffeba7;
    border-radius: 5px;
    cursor: pointer;
    
}



